<div ng-controller="TimeSliderCtrl as timeSlider">



  <div hide-xs class="timeSlider">
    <md-item-content layout="row" layout-align="center center" style="margin-left:60px">
      <span id="currentTimeSlider" style="font-weight:bold;margin-right:80px;margin-top:20px"></span>
      <md-slider id="slider" flex="" step="1" min="{{timeSlider.minSlider}}" max="{{timeSlider.maxSlider}}" ng-model="currentDate" aria-label="red"  class="md-primary">
      </md-slider>
      <md-menu >
          <md-button style="margin-left:15px;" aria-label="{{ 'optionsSlider' | translate }}" title="{{ 'optionsSlider' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <img  src="images/icons/list.png" alt="Logo" width="25" height="25" style="cursor: pointer;" ng-click="">
          </md-button>
          <md-menu-content width="4">
            <md-menu-item >
              <md-button ng-click="dailySlider()">
                  <div layout="row">
                    <p flex="">{{ 'dailySlider' | translate }}</p>
                  </div>
              </md-button>
            </md-menu-item>
            <md-menu-item >
              <md-button ng-click="tenDaysSlider()">
                  <div layout="row">
                    <p flex="">{{ 'tenDaysSlider' | translate }}</p>
                  </div>
              </md-button>
            </md-menu-item>
            <md-menu-item >
              <md-button ng-click="monthSlider()">
                  <div layout="row">
                    <p flex="">{{ 'monthSlider' | translate }}</p>
                  </div>
              </md-button>
            </md-menu-item>
            <md-menu-item >
              <md-button ng-click="month90Slider()">
                  <div layout="row">
                    <p flex="">{{ 'month90Slider' | translate }}</p>
                  </div>
              </md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>
    </md-item-content>
  <div>

    <div class="timeSliderPlayer">
      <div style="margin-top:15px">
        <md-item-content layout="row" layout-align="center center">
          <img src="images/icons/rewind.png" alt="Logo" width="36" height="36" style="cursor: pointer;" ng-click="rewindSlider()">
          <img id="playButton" src="images/icons/play.png" alt="Logo" width="50" height="50" style="margin-left:5px;margin-right:5px;cursor: pointer;" ng-click="playSlider()">
          <img src="images/icons/forward.png" alt="Logo" width="36" height="36" style="cursor: pointer;" ng-click="forwardSlider()">
        </md-item-content>
      <div>
    <div>


<div>
