<div ng-controller="ToolbarCtrl" ng-cloak="">
    <!--SETTINGS SIDENAV-->
    <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="settingMenu">
      <md-toolbar ng-click="openSettingMenu()">
        <md-item-content layout="row" layout-align="center center" style="margin: 0 auto; width: 130px;">
              <md-icon  md-svg-src="images/icons/settings.svg"></md-icon>
              <h1 class="md-toolbar-tools noselect" style="cursor:default;color:#ffffff;">{{ 'settingsToolbar' | translate }}</h1>
        </md-item-content>
      </md-toolbar>
      <div style="margin:10px;">
      	<label>{{ 'language' | translate }}</label>
        <div>
          <img src="images/itFlag.png" alt="Logo" width="30" height="30" style="cursor: pointer;" ng-click="changeLanguage('it')">
          <img style="margin-left:10px;" src="images/enFlag.png" alt="Logo" width="30" height="30" style="cursor: pointer;" ng-click="changeLanguage('en')">
          <img style="margin-left:10px;" src="images/grFlag.png" alt="Logo" width="30" height="30" style="cursor: pointer;" ng-click="changeLanguage('gr')">
        </div>
      </div>
      <div style="margin:10px;">
      	<label>{{ 'basemapSettings' | translate }}</label>
        <div ng-controller="BasemapPopoupCtrl as basemapPop">
      		    <div>
                  <input type="radio" ng-checked="basemapPop.view_osm" ng-click="basemapPop.changeBaseLayerOSM()"/>
                  OpenStreetMap
              </div>
              <div>
                  <input type="radio" ng-checked="basemapPop.view_sbm" ng-click="basemapPop.changeBaseLayerSBM()"/>
                  Satellite Base Map
              </div>
          </div>
          <div ng-controller="marineServiceCtrl as marine">
            <div >
              <label>{{ 'CatalogSettings' | translate }}</label>
              <form>
                <button type="button" title="{{ 'CatalogSettings' | translate }}" ng-click="marine.openViewer()">
                  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                </button>
                {{ 'catalogHelpSettings' | translate }}
              </form>
            </div>
            <div style="margin-top:10px;">
            <label >{{ 'helpSettings' | translate }}</label>
            <form>
              <button type="button" title="{{ 'helpSettings' | translate }}" ng-click="marine.openHelp()">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              </button>
              {{ 'descriptionHelpSettings' | translate }}
            </form>
            </div>
          </div>
      </div>



    </md-sidenav>

    <!--FILTERS SIDENAV-->
    <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="filterMenu">
      <md-toolbar ng-click="openFilterMenu()">
        <md-item-content layout="row" layout-align="center center" style="margin: 0 auto; width: 130px;">
              <md-icon  md-svg-src="images/icons/filters.svg"></md-icon>
              <h1 class="md-toolbar-tools noselect" style="cursor:default;color:#ffffff;">{{ 'filtersToolbar' | translate }}</h1>
        </md-item-content>
      </md-toolbar>

      <div  style="margin:20px;"  >
      	<h4>{{ 'titleFilters' | translate }}</h4>
        <div ng-controller="SwitchPanelCtrl as switchpanel">
          <label>{{ 'categoriesTitleSettings' | translate }}</label>
          <form>
            <div >
              <div>
                <input type="radio" ng-click="switchpanel.switchOverlay('chl')" ng-checked ="switchpanel.view_overlay_chl"> {{ 'chl' | translate }}</label>
                <img src="images/icons/settings_black.svg" alt="Logo" width="20" height="20" style="float:right;margin-top:2px;cursor: pointer;" ng-click="switchpanel.showSettings('chl')" title="{{ 'openSettings' | translate }}">
              </div>
              <div style="margin-left:5px;" ng-show="switchpanel.settingschl">
                <label class= "switchpanelabel2">{{ 'trasparence' | translate }}
    				    <input type="range" min="0" max="1" step="0.01" ng-model="switchpanel.chl.opacity">
              </div>
              <div style="margin-top:5px;">
                <input type="radio" ng-click="switchpanel.switchOverlay('sst')" ng-checked ="switchpanel.view_overlay_sst"> {{ 'sst' | translate }}</label>
                <img src="images/icons/settings_black.svg" alt="Logo" width="20" height="20" style="float:right;margin-top:2px;cursor: pointer;" ng-click="switchpanel.showSettings('sst')" title="{{ 'openSettings' | translate }}">
              </div>
              <div style="margin-left:5px;" ng-show="switchpanel.settingssst">
                <label class= "switchpanelabel2">{{ 'trasparence' | translate }}
    				    <input type="range" min="0" max="1" step="0.01" ng-model="switchpanel.sst.opacity">
              </div>
              <div style="margin-top:5px;">
                <input type="radio" ng-click="switchpanel.switchOverlay('wt')" ng-checked ="switchpanel.view_overlay_wt"> {{ 'wt' | translate }}</label>
                <img src="images/icons/settings_black.svg" alt="Logo" width="20" height="20" style="float:right;margin-top:2px;cursor: pointer;" ng-click="switchpanel.showSettings('wt')" title="{{ 'openSettings' | translate }}">
              </div>
              <div style="margin-left:5px;" ng-show="switchpanel.settingswt">
                <label class= "switchpanelabel2">{{ 'trasparence' | translate }}
    				    <input type="range" min="0" max="1" step="0.01" ng-model="switchpanel.wt.opacity">
              </div>

            </div>
          </form>
        </div>



      </div>
    </md-sidenav>

    <!--AREAS SIDENAV-->
    <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="areaMenu">
      <md-toolbar ng-click="openAreaMenu()">
        <md-item-content layout="row" layout-align="center center" style="margin: 0 auto; width: 170px;">
              <md-icon  md-svg-src="images/icons/areas.svg"></md-icon>
              <h1 class="md-toolbar-tools noselect" style="float:right;cursor:default;color:#ffffff;">{{ 'myAreasToolbar' | translate }}</h1>
        </md-item-content>
      </md-toolbar>
      <div ng-controller="SwitchPanelCtrl as switchpanel" style="margin-top:15px;">
        <md-list-item ng-repeat="subscription in switchpanel.userDeals">
          <p ng-click="switchpanel.updateSelectionArea($index,switchpanel.userDeals)">{{subscription.product_name}}</p>
        </md-list-item>
      </div>

    </md-sidenav>

    <!--MAIN TOOLBAR (TO CHANGE MIN SIZE GO IN ANGULARMATERIAL.CSS)-->
    <md-toolbar>
      <div class="md-toolbar-tools" style="margin-right:15px;">
        <!--RHETICUS LOGO-->
         <img hide-xs src="images/icons/logo_regular.png" alt="Logo" width="120" height="40" style="cursor: pointer;" onclick="window.location.href = '../home'">
         <img hide-gt-xs src="images/logo_small.png" alt="Logo" width="25" height="25" style="cursor: pointer;" onclick="window.location.href = '../home'">
        <!--SERVICE NAME-->
        <span flex="35"></span>
        <h3 hide-xs class="noselect" style="cursor:default;font-weight: bold;color:#ffffff;">
            {{ 'titleToolbar' | translate }}
        </h3>

    <!--RIGHT BUTTON TOOL-->
        <span flex=""></span>
        <h4 hide-xs id="userNameView"style="font-size:12px;" ng-click="showDialog($event)"></h4>
        <md-button title="{{ 'accountToolbar' | translate }}" class="md-icon-button" aria-label="account"  ng-click="showDialog($event)">
          <md-icon md-svg-src="images/icons/account.svg" style="color: white;"></md-icon>
        </md-button>

        <!--GEOCODER-->
        <div style="margin-left:5px;" ng-controller="GeocoderCtrl as geo" >
          <form id="searchForm">
            <input id="searchInput" style="float:left;width: 120px;" class="geocoderBar" autocomplete="off" ng-show="geo.visibleSearchBar" moo-focus-expression="geo.visibleSearchBar" type="text" ng-model="geo.location" ng-keyup="geo.searchLocation($event)" focus="true"/>
            <md-button title="{{ 'geocoderToolbar' | translate }}" class="md-icon-button" aria-label="search" ng-click="geo.showSearchBar()">
              <md-icon md-svg-src="images/icons/search.svg"></md-icon>
            </md-button>
          </form>
          <div class="searchResult" ng-show="geo.visibleSearchBar" >
            <div ng-repeat="result in geo.results">
              <span style="color:#000000;"ng-click="geo.getLocation($index)" ng-bind="result.display_name"></span>
            </div>
          </div>
        </div>
        <md-button title="{{ 'myAreasToolbar' | translate }}" class="md-icon-button" aria-label="{{ 'myAreasToolbar' | translate }}" ng-click="openAreaMenu()">
          <md-icon md-svg-src="images/icons/areas.svg"></md-icon>
        </md-button>
        <md-button title="{{ 'filtersToolbar' | translate }}" class="md-icon-button" aria-label="{{ 'filtersToolbar' | translate }}" ng-click="openFilterMenu()">
          <md-icon md-svg-src="images/icons/filters.svg"></md-icon>
        </md-button>
        <md-button title="{{ 'settingsToolbar' | translate }}" class="md-icon-button" aria-label="{{ 'settingsToolbar' | translate }}" ng-click="openSettingMenu()"  >
          <md-icon md-svg-src="images/icons/settings.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
</div>
